{% extends "base_pub.html" %} {% block title %}
{%  load static %}
<title>Mundo Dev | custos do 5G</title>
{% endblock title %} {% block div1 %}
<div
  class="p-4 p-md-5 mb-4 text-black rounded"
  style="background: url({% static 'img/pub3.jpeg' %})"
  id="img-capa"
>
  <div class="col-md-6 px-0">
    <p class="lead my-3 bg-white p-2 text-dark bg-opacity-25">
      <strong>
        Os brasileiros só terão o 5G puro, o chamado standalone, a partir de
        julho do próximo ano, começando pelas capitais.
      </strong>
    </p>
  </div>
</div>
{% endblock div1%} {% block article %}
<article class="blog-post">
  <h2 class="blog-post-title">
    5G custará ao menos R$ 250 por mês quando chegar
  </h2>
  <p class="blog-post-meta">Janeiro 30, 2022 by <a href="#">fernando</a></p>
  <div>
    <p style="text-align: justify">
      Os brasileiros só terão o 5G puro, o chamado standalone, a partir de julho
      do próximo ano, começando pelas capitais. Estimativas iniciais de uma das
      operadoras indicam que esses planos custarão mais caro do que o 4G, com
      preços de ao menos R$ 250 por mês para faturas pós-pagas e com restrição
      de uso de dados. Nesse patamar, o 5G nacional seguirá os preços
      internacionais até que a massificação do serviço derrube o preço dos chips
      e dos aparelhos, hoje as principais barreiras de acesso ao serviço.
    </p>
    <p style="text-align: justify">
      A expectativa das operadoras é chegar a 500 milhões de acessos em três
      anos entre assinantes residenciais e empresariais. Enquanto isso não
      ocorre, as operadoras planejam migrar os clientes que hoje utilizam a
      tecnologia 4G para o chamado 5G DSS, um serviço que utiliza as frequências
      atuais do 4G para atingir velocidades de 5G com latência (tempo de
      resposta entre a comunicação do celular com as antenas) pequena. Neste
      processo, o preço deverá permanecer o mesmo. Recentemente, o presidente da
      Tim, Pietro Labriola, disse que a estratégia comercial da operadora
      seguirá a dinâmica de preços da Uber. "Quando você usa [a Uber], tem o
      Uber Black e outros níveis", disse. "O preço é relacionado com o nível de
      serviço."
    </p>
    <p style="text-align: justify">
      Labriola afirmou que os pacotes com uso ilimitado de dados estão com dias
      contados no 5G. "Em outros países os pacotes de uso ilimitado [no 5G]
      existem, mas são restritos." Inicialmente, caberá às empresas o papel de
      expandir o consumo do 5G, diferentemente do que ocorreu com as tecnologias
      anteriores (3G e 4G). Executivos da Claro e da Vivo são unânimes em
      afirmar que a largada inicial do 5G -que levará à queda do preço para os
      demais usuários- ocorrerá por meio das empresas, que já planejam formas de
      modernizar suas atividades por meio da nova tecnologia. O agronegócio e a
      indústria devem puxar a fila dos principais consumidores da nova
      tecnologia.
    </p>
    <p style="text-align: justify">
      Devido à baixa latência e altas velocidades na rede standalone, que será
      construída exclusivamente para o 5G, indústrias poderão automatizar suas
      plantas, novos aplicativos, e soluções virão para os serviços de logística
      e transporte. Na agricultura, produtores poderão ter aplicativos que, a
      partir de sensores no solo, dirão quais áreas cultivadas precisam de adubo
      ou água, o que aumentará a produtividade reduzindo custos. Drones
      sobrevoarão a lavoura para estimar a produção por meio de imagens,
      garantindo previsibilidade para a safra e antecipando a formação de preços
      no mercado. As cidades poderão ter sistemas de controle de água, luz,
      saneamento e tráfego controlados remotamente. Veículos poderão ser
      teleguiados.
    </p>
    <p style="text-align: justify">
      Prefeituras já miram esse tipo de solução. Em Curitiba, o prefeito Rafael
      Grecca cogita usar uma parceria com a Abdi (Agência Brasileira de
      Desenvolvimento em Inovação) para projetar soluções inteligentes de
      controle de semáforos. O tempo de espera respeitaria a movimentação de
      veículos em cada via e não mais por tempo previamente definido. Serviços
      médicos, incluindo cirurgias, poderão ser prestados a distância. O acesso
      à educação de ponta poderá ser feito via internet de qualquer local do
      país por meio de aulas ou cursos a distância.
    </p>
    <p style="text-align: justify">
      É essa a revolução prometida pelo 5G que deverá, segundo estudo da Omni,
      consultoria especializada em telecomunicações, fazer catapultar o PIB do
      Brasil em R$ 6,5 trilhões até 2030 caso todas as funcionalidades da
      tecnologia de quinta geração sejam implementadas no país. Não por outro
      motivo, Tim, Claro e Vivo adquiriram, no leilão ocorrido em novembro,
      frequências de 26 GHz (gigahertz) para fazer testes com serviços voltados
      ao agronegócio, principalmente no Centro-Oeste, e indústrias, nas regiões
      metropolitanas. Frequências são avenidas por onde as teles fazem trafegar
      seus sinais. Fora delas ocorrem interferências. No leilão do 5G, realizado
      em novembro, dez operadoras adquiriram licenças nas faixas de 700 MHz (
      megahertz); 2,3, 3,5 e 26 GHz por cerca de R$ 47 bilhões. Pagarão para a
      União, no entanto, cerca de R$ 5 bilhões, descontando investimentos
      obrigatórios na conexão de todas as localidades com a telefonia 4G. Além
      das três grandes do setor (Vivo, Claro e Tim), outros grupos locais
      arremataram frequências. Muitos planejam oferecer conexão para pequenos
      provedores locais e empresas regionais que pretendem entregar soluções de
      automação industrial em suas áreas de abrangência.
    </p>
    <p style="text-align: justify">
      Para isso terão de construir redes novas. Tim, Vivo e Claro estimam
      investir mais de R$ 150 bilhões na construção de suas redes 5G nos
      próximos oito anos. Isso sem contar os cerca de R$ 40 bilhões em
      investimentos obrigatórios impostos pela Anatel (Agência Nacional de
      Telecomunicações) na massificação do 4G em todo o país. "O 5G irá se
      difundir na sociedade pelos smartphones e pelas inúmeras aplicações no
      tecido produtivo", diz Marcos Ferrari, presidente da Conéxis, associação
      que reúne as operadoras. "A sua massificação se dará por meio de elevados
      investimentos e o cumprimento de obrigações do edital, que virão
      principalmente das empresas consolidadas no mercado, como tem ocorrido nos
      países que já iniciaram a implantação do 5G.
    </p>
  </div>

  <hr />
</article>
{% endblock article %} {% block div2 %}
<div class="p-4">
  <h4 class="fst-italic bg-dark text-white">Veja Também:</h4>
  <ol class="list-unstyled mb-0">
    <li>
      <a class="text-decoration-none" href="{% url 'pub1' %}"
        >O Programador Web</a
      >
    </li>
    <li>
      <a class="text-decoration-none" href="{% url 'pub2' %}"
        >As 6 linguagens</a
      >
    </li>
    <li>
      <a class="text-decoration-none" href="{% url 'pub4' %}"
        >Novo sistema Indiano</a
      >
    </li>
    <li>
      <a class="text-decoration-none" href="{% url 'pub5' %}"
        >Machine Learning</a
      >
    </li>
    <li>
      <a class="text-decoration-none" href="{% url 'pub6' %}"
        >O atraso das criptomoedas</a
      >
    </li>
    <li>
      <a class="text-decoration-none" href="{% url 'pub7' %}">O Bootstrap</a>
    </li>
    <li>
      <a class="text-decoration-none" href="{% url 'pub8' %}"
        >Back-End eFront-End</a
      >
    </li>
    <li>
      <a class="text-decoration-none" href="{% url 'pub9' %}">Reacte Native</a>
    </li>
    <li><a class="text-decoration-none" href="{% url 'pub10' %}">DJango</a></li>
  </ol>
</div>
{% endblock div2 %}
